<a href="https://colab.research.google.com/github/SlavaKulik/machine_learning/blob/main/machine_learning_practice_1_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [5]:
exam = {'name':['Mike', 'Nike', 'Pike', 'Gike'],
        'score':[20,30,40,50],
        'attemps':[2,3,1,2],
        'qualification':['yes','no','yes','no']}
label=['a','b','c','d']

data = pd.DataFrame(exam, index=label)
print(data)

   name  score  attemps qualification
a  Mike     20        2           yes
b  Nike     30        3            no
c  Pike     40        1           yes
d  Gike     50        2            no

In [6]:
print("Data information")
print(data.info())

Data information
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4 non-null      object
 1   score          4 non-null      int64
 2   attemps        4 non-null      int64
 3   qualification  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 332.0+ bytes
None

In [9]:
print("Name and score of first 3 person")
print(data[['name','score']].iloc[:3])

Name and score of first 3 person
   name  score
a  Mike     20
b  Nike     30
c  Pike     40

In [10]:
print("Number of attemps in the examination is greater than 2")
print(data[data['attemps']>2])

Number of attemps in the examination is greater than 2
   name  score  attemps qualification
b  Nike     30        3            no

In [12]:
print(data.loc[data['attemps']>2, 'name'])
print(data.loc[data['attemps']>2, ['name']])

b    Nike
Name: name, dtype: object
   name
b  Nike