<a href="https://colab.research.google.com/github/SlavaKulik/machine_learning/blob/main/machine_learning_practice_1_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sn

In [2]:
planets = sn.load_dataset('planets')

In [10]:
print("Print general data")
pl_data = planets.info()
print(pl_data)

Print general data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB
None

In [11]:
print("Data dimensions")
pl_size = planets.shape
print(pl_size)

Data dimensions
(1035, 6)

In [12]:
print("General stats")
pl_general_stats = planets.describe()
print(pl_general_stats)

General stats
            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [13]:
print("First 7 and last 7 rows")
pl_head = planets.head(7)
pl_tail = planets.tail(7)
print(pl_head)
print(pl_tail)

First 7 and last 7 rows
            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
5  Radial Velocity       1         185.840   4.80     76.39  2008
6  Radial Velocity       1        1773.400   4.64     18.15  2002
       method  number  orbital_period  mass  distance  year
1028  Transit       1        3.352057   NaN    3200.0  2012
1029  Imaging       1             NaN   NaN      10.1  2012
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [15]:
print("List of methods")
print(planets['method'].value_counts())
print("List of years")
print(planets['year'].value_counts())

List of methods
Radial Velocity                  553
Transit                          397
Imaging                           38
Microlensing                      23
Eclipse Timing Variations          9
Pulsar Timing                      5
Transit Timing Variations          4
Orbital Brightness Modulation      3
Astrometry                         2
Pulsation Timing Variations        1
Name: method, dtype: int64
List of years
2011    185
2012    140
2013    118
2010    102
2009     98
2008     74
2007     53
2014     52
2005     39
2002     32
2006     31
2004     26
2003     25
2000     16
1999     15
2001     12
1996      6
1998      5
1992      2
1995      1
1997      1
1989      1
1994      1
Name: year, dtype: int64

In [16]:
print("All records by 2003")
print(planets[planets['year'] == 2003])

All records by 2003
              method  number  orbital_period    mass  distance  year
52   Radial Velocity       1       903.30000   1.850     13.79  2003
207  Radial Velocity       1        62.21800   0.229     11.11  2003
219  Radial Velocity       1        22.09000   0.480     40.32  2003
258  Radial Velocity       1       466.20000   1.370     22.38  2003
274  Radial Velocity       1      1561.00000   7.710     51.97  2003
317  Radial Velocity       1         1.32830  18.370     43.03  2003
341  Radial Velocity       1       303.00000   5.250     92.51  2003
347  Radial Velocity       2       572.40000   1.260     35.59  2003
356  Radial Velocity       1      2231.00000   2.000     28.76  2003
359  Radial Velocity       1         2.54858   1.870     36.52  2003
363  Radial Velocity       3        51.64500   1.800     64.56  2003
364  Radial Velocity       3      2473.00000   8.060     64.56  2003
374  Radial Velocity       2       441.47000     NaN     27.46  2003
375  Radial Velocity       2       220.07800     NaN     27.46  2003
419  Radial Velocity       1       199.50500   8.300    102.04  2003
434  Radial Velocity       1      1143.00000   6.800     28.88  2003
438  Radial Velocity       2       937.70000   1.240     28.04  2003
449  Radial Velocity       1        63.33000   1.220     44.37  2003
450  Radial Velocity       1       344.95000   3.710    133.16  2003
481  Radial Velocity       1       386.30000   1.620     34.57  2003
487  Radial Velocity       1       528.40000   1.210     12.87  2003
530  Radial Velocity       2      2102.00000   4.040     36.32  2003
560  Radial Velocity       2      2891.00000   1.502     15.89  2003
602  Radial Velocity       1       118.45000   0.650     37.89  2003
944    Pulsar Timing       1     36525.00000     NaN       NaN  2003

In [18]:
max_mass = np.max(planets['mass'])
print(planets[planets['mass'] == max_mass])

              method  number  orbital_period  mass  distance  year
321  Radial Velocity       1          2371.0  25.0     37.05  2008

In [19]:
planets.groupby(['method']).agg({'orbital_period':['min','max'], 'mass':['min', 'max'], 'distance':['min', 'max']})

                              orbital_period                   mass         \
                                         min            max     min    max
method
Astrometry                        246.360000    1016.000000     NaN    NaN
Eclipse Timing Variations        1916.250000   10220.000000  4.2000   6.05
Imaging                          4639.150000  730000.000000     NaN    NaN
Microlensing                     1825.000000    5100.000000     NaN    NaN
Orbital Brightness Modulation       0.240104       1.544929     NaN    NaN
Pulsar Timing                       0.090706   36525.000000     NaN    NaN
Pulsation Timing Variations      1170.000000    1170.000000     NaN    NaN
Radial Velocity                     0.736540   17337.500000  0.0036  25.00
Transit                             0.355000     331.600590  1.4700   1.47
Transit Timing Variations          22.339500     160.000000     NaN    NaN

                              distance
                                   min      max
method
Astrometry                       14.98    20.77
Eclipse Timing Variations       130.72   500.00
Imaging                           7.69   165.00
Microlensing                   1760.00  7720.00
Orbital Brightness Modulation  1180.00  1180.00
Pulsar Timing                  1200.00  1200.00
Pulsation Timing Variations        NaN      NaN
Radial Velocity                   1.35   354.00
Transit                          38.00  8500.00
Transit Timing Variations       339.00  2119.00